<div>
  <table class="table-responsive table-bordered">
    <thead table-header [configurations]="configurations"></thead>
    <tbody>
    <tr *ngFor="let row of tableData.data; let rowIndex = index">
      <td *ngFor="let data of row; let colIndex = index"
          table-cell
          #cell
          [rowSpan]="cell['rowspan']"
          [column]="colIndex"
          [row]="rowIndex"
          [columnWord]="words[colIndex]"
          [wordAddress]="words[colIndex] + '.' + rowIndex"
          [descriptor]="configurations.states.columns[colIndex]">
      </td>
    </tr>
    </tbody>
  </table>
</div>
