<table class="table table-bordered">
    <thead>
    <tr class="text-center font-weight-bold" *ngFor="let header of headers">
        <ng-container *ngFor="let col of header">
            <th *ngIf="col.length > 0"
                [class]="col[1]"
                [attr.rowspan]="col[2]"
                [attr.colspan]="col[3]">
                {{ col[0] }}
            </th>
        </ng-container>
    </tr>
    </thead>

    <tbody>
    <tr *ngIf="subHeader">
        <td *ngIf="withIndex" [class]="'text-center ' + indexSubHeaderClass">{{ indexSubHeader }}</td>
        <td [class]="descriptors[i].subHeaderClass ? descriptors[i].subHeaderClass || '' : subHeaderClass"
            *ngFor="let sub of subHeaders; let i = index">
            <div [id]="'subheader-' + descriptors[i].prop ">{{ sub }}</div>
        </td>
    </tr>

    <ng-container *ngIf="groupDataBuilt && groupDataBuilt.length">
        <ng-container *ngTemplateOutlet="groupTemplate; context: { groupDataBuilt: groupDataBuilt }"></ng-container>
    </ng-container>
    </tbody>
</table>

<ng-template #groupTemplate let-groupDataBuilt="groupDataBuilt">
    <ng-container *ngFor="let group of groupDataBuilt; let groupIndex = index">
        <tr class="{{group.class || ''}} {{ 'group-level-' + group.level }}">
            <td class="group-index">{{ levels[group.level][groupIndex] }}</td>
            <td class="group-name" colspan="9999">{{ group.name }}</td>
        </tr>
        <ng-container *ngIf="group.data">
            <tr *ngFor="let row of group.data; let rowIndex = index; trackBy: trackByIndex" style="height: 30px">
                <td *ngIf="withIndex" class="{{ 'text-center ' + indexClass }} ">{{ rowIndex + 1 }}</td>
                <td *ngFor="let data of row; let colIndex = index"
                    [class]="descriptors[colIndex].dataClass || ''"
                    (click)="click(rowIndex, colIndex, data, group, descriptors[colIndex].prop)"
                    gaStopPropagation>
                    <ng-container *ngTemplateOutlet="template; context: {
                                data: data,
                                active: active,
                                row: rowIndex,
                                col: colIndex,
                                descriptor: descriptors[colIndex],
                                group: group,
                                groupIndex: groupIndex
                          }"></ng-container>
                </td>
            </tr>
        </ng-container>
        <ng-container *ngIf="group.subGroups">
            <ng-container *ngTemplateOutlet="groupTemplate; context: { groupDataBuilt: group.subGroups }"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #template
             let-active="active"
             let-row="row"
             let-col="col"
             let-descriptor="descriptor"
             let-data="data"
             let-groupIndex="groupIndex"
             let-group="group">
    <ng-container
            *ngIf="descriptor.type && descriptor.type !== 'buttons' && descriptor.editOnClick && isEditing(active, row, col, group.path)">
        <div style="display: flex; align-items: center">
            <common-input [type]="descriptor.type"
                          [formControl]="active.formControl"
                          [data]="{ 'options': descriptor.options }"
                          gaStopPropagation>
            </common-input>
        </div>
    </ng-container>
    <ng-container *ngIf="!isEditing(active, row, col, group.path) || !descriptor.editOnClick">
        <div>
            <span *ngIf="!descriptor.link">{{ getValue(col, data) }}</span>
            <a class="text-link" *ngIf="descriptor.link && descriptor.useRouter" [routerLink]="data.url">{{ data.value }}</a>
            <a class="text-link" *ngIf="descriptor.link && !descriptor.useRouter" [href]="data.url">{{ data.value }}</a>
        </div>
    </ng-container>
    <ng-container *ngIf="descriptor.type && descriptor.type === 'buttons'">
        <ng-container *ngFor="let item of descriptor.buttons; let bIndex = index">
            <i class="{{ buttons[item].icon }} cursor-pointer icon icon-{{ item }} {{ bIndex > 0 ? 'ml-2' : '' }}"
               data-placement="bottom"
               data-toggle="tooltip"
               gaStopPropagation
               (click)="onButtonClickedGroup(item, row, group, groupIndex)"
               title="{{ buttons[item].name }}">
            </i>
        </ng-container>
    </ng-container>
</ng-template>
