<ng-container *ngIf="columnConfigs.dataType !== 'checkbox'">
  <ng-container *ngIf="active">
    <ng-container *ngTemplateOutlet="input"></ng-container>
  </ng-container>
  <ng-container *ngIf="!active">
    <data-only-cell [columnConfigs]="columnConfigs" [cellData]="cell"></data-only-cell>
  </ng-container>
</ng-container>

<ng-container *ngIf="columnConfigs.dataType === 'checkbox'">
  <ng-container *ngIf="active">
    <ng-container *ngTemplateOutlet="input"></ng-container>
  </ng-container>
  <ng-container *ngIf="!active">
    <i class="fa fa-check" *ngIf="data"></i>
  </ng-container>
</ng-container>

<ng-template #input>
  <common-input [formControl]="formControl"
                [type]="columnConfigs.dataType"
                [data]="{ 'options': options }"
                (blur)="onBlurred($event)"
                (keyup.out-zone)="onKeyUp($event)"
                stopPropagation
  ></common-input>
</ng-template>
