<td [class]="configs.states.index.class" *ngIf="state.showIndex">
  {{
  getRowIndex(rowIndex, group ? {
    parentIndex: groupIndex,
    parentText: group.indexFn(groupIndex, { parentIndex: parentIndex, parentText: parentText })
  } : null)
  }}
</td>

<ng-container *ngTemplateOutlet="cellTemplate; context: { row: row, rowIndex: rowIndex, group: group }">
</ng-container>

<ng-container *ngFor="let action of configs.states.actions; let actionIndex = index">
  <ng-container
      *ngTemplateOutlet="actionsTemplate; context: { rowIndex: rowIndex, group: group, index: actionIndex }">
  </ng-container>
</ng-container>

<ng-template #cellTemplate let-row="row" let-rowIndex="rowIndex" let-group="group">
  <td *ngFor="let data of row; let colIndex = index; trackBy: trackByIndex"
      table-cell
      [readonly]="configs.states.editing.enabled ? !isEditing : true"
      [column]="colIndex"
      [row]="rowIndex"
      [group]="group"
      [columnWord]="words[colIndex]"
      [wordAddress]="words[colIndex] + '.' + rowIndex"
      [columnConfigs]="configs.states.columns[colIndex]"
  ></td>
</ng-template>

<ng-template #actionsTemplate let-rowIndex="rowIndex" let-group="group" let-index="index">
  <td *ngIf="state.showActions" [class]="configs.states.actions[index].class">
    <ng-container *ngFor="let action of getActions(index, rowIndex, group); let actionIndex = index">
      <i class="{{ configs.states.actions[index].types[action].icon }} cursor-pointer icon icon-{{ action }} {{ actionIndex > 0 ? 'ml-2' : '' }}"
         (click.out-zone)="onActionClicked(index, action, rowIndex, group)"
         data-placement="bottom"
         data-toggle="tooltip"
         stopPropagation
         title="{{ configs.states.actions[index].types[action].name }}">
      </i>
    </ng-container>
  </td>
</ng-template>
