<table-metadata *ngIf="metadata" alignItem="align-right"></table-metadata>
<table class="table table-bordered">
    <thead table-header></thead>

    <tbody>
    <tr *ngFor="let row of tableData.data; let rowIndex = index; trackBy: trackByIndex" style="height: 30px">
        <td *ngIf="withIndex" class="{{ 'text-center ' + indexClass }} ">{{ rowIndex + (currentOffset$ | async) + 1 }}</td>
        <td *ngFor="let data of row; let colIndex = index; trackBy: trackByIndex"
            table-cell
            #cell
            [rowSpan]="cell['rowspan']"
            [column]="colIndex"
            [columnWord]="words[colIndex]"
            [wordAddress]="words[colIndex] + '.' + rowIndex"
            [row]="rowIndex"
            [columnConfigs]="descriptors[colIndex]">
        </td>
    </tr>
    </tbody>
</table>
<span *ngIf="canAddRow" (click)="addRow()">Plus</span>
<table-pagination *ngIf="paging" alignItem="align-right"></table-pagination>
